*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
 justify-content: center;
 align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
    
}
.calculator{
    border: 2px solid #717377;
    padding: 20px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.2);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    
    margin: 100px;                                     /*  create space outside the boder */
     margin-left:200px;
    
    background: transparent;
     box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.2);
     text-align: right;
     font-size: 40px;
     cursor: pointer;

}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 80px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 24px;
    box-shadow:0px 3px 15px rgba(113, 115, 119, 0.5); 
    cursor: pointer;
}