                                                          /* 1.....project*/
 /* ul{ 
    background-color: rgb(54, 255, 255);
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 0, 106);
}
li{
    list-style-type: none;
    display: inline-block;

}  
.outer{
    background-color: rgb(140, 99, 17);
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.inner{
    background-color: black;
    height: 100px;
    width: 100px;
} */
/* 1.....project */



                                                   /* 2........project */

/* body{
    background-color: plum;
}

div{
    background-color: aqua;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    right: 150px;
    animation: anime 10s ease-in 0ms infinite normal  ;
}

@keyframes anime{
    0%{background-color:aqua;
         left: 0px;}
   50%{
    background-color: rgb(63, 164, 45);
    font-size: xx-large;
   }

    100%{background-color: brown;
    right: 200px;}

} */


 /* div:hover{
    transform: rotate(70deg);
    transform: scale(2);
    transform: translate(250px,250px); 
    font-style: oblique;
    transition: ease-in;
    transition-duration: 10s;
}   */

                                                                        /* 3.....project */
/* .loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: bisque;
     border: 10px solid black;
     border-top: 10px solid blue;
     animation: spin 3s ease-in 0s infinite normal;
}
@keyframes spin{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg);}
} */




*{
    margin: 0;
    font-family: arial;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #1c7878;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("Amazon_(company)-Logo.wine.png");
    height: 50px;
    background-size: cover;
}
.border{
    border: 2px solid transparent;

}
.border:hover {

   border: 2px solid white 
}
.addfirst{
    color: #858534;
    font-size: 0.85rem;
    margin-left: 15px;

}
.addseacond{
font-size: 1rem;

}
.addicon{
    display: flex;
    align-items: center;
}

.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: palevioletred;
    width: 620px;
    height: 40px;
    border-radius: 4px;


}
.navsearch:hover{
    border:2px solid orange;
}
.searchselect{
 background-color:rgb(167, 222, 115);
 width: 50px;
 text-align: center;
 border-top-left-radius: 4px;
 border-top-left-radius: 4px;
 border: none;
}
.searchinput{
    width:100%   ;
     /* width:  500px   ; */
    font-size: 1rem;
    border: none;

}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(219, 219, 22);
    border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
}  




span{
font-size: 0.75rem;
}
.navseacond{
    font-size: 0.85rem;
    font-weight: 700;
}



.navcart i{
    font-size: 30px;

}
.navcart{
    font-size: 0.85rpm;
    font-weight: 700;
}







/* pannel */



.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: azure;
    align-items: center;
    justify-content: space-evenly;

}
.paneloption p{
    display: inline;
    margin:10px;
}
.paneloption{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;

}



/* herosection */



.herosection{
    background-image: url("71GGl3UpyOL._SX3000_.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromessage{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
margin-bottom: 25px;
}

.heromessage a{
    color: #007185;
}


/* shopsection */
.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 15px;
}

.boximg{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.boxcontent{
    margin-left: 10px;
    margin-right: 10px;
}
.boxcontent p{
    color: aqua;
}



/* footer */
footer{
    margin-top: 15px;
}
.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}

.footpanel2{
    background-color: #07264b;
    color: aliceblue;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}
ul p{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    
}
.footpanel3{
    background-color:#5d134e ;
    border-top: 0.5px solid black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("Amazon_(company)-Logo.wine.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}






.footpanel4{
    background-color: #858534;
    color: antiquewhite;
    height: 100px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages{
font-size: 0.7rem;
text-align: center;
padding-top: 25px;
}
.copyright{
font-size: 0.7rem;
text-align: center;
padding-top: 5px;
} 