/* *{
    color:blue;
}
h1{

    color:red;
}
#head1{
    color: black;
}
.head{

    color: rgb(113, 29, 112);
}

body{
    background-color: rgb(34, 31, 31);
}
button{
    color: green;
    background-color: rgb(207, 69, 69);
} */
/* h1{

    text-align: center;
    text-decoration: red overline;
    font-family: arial;
}
a{
    text-decoration: none;
}
p{
    font-size: 30px;
    line-height: 4;
    text-transform: uppercase;
} */



