/* *{
    color:blue;
}
h1{

    color:red;
}
#head1{
    color: black;
}
.head{

    color: rgb(113, 29, 112);
}

body{
    background-color: rgb(34, 31, 31);
}
button{
    color: green;
    background-color: rgb(207, 69, 69);
} */
/* h1{

    text-align: center;
    text-decoration: red overline;
    font-family: arial;
}
a{
    text-decoration: none;
}
p{
    font-size: 30px;
    line-height: 4;
    text-transform: uppercase;
} */


/* div{
    height:50px;
    background-color: pink;
    width: 169px;
    border-width: 20px;
    border-style: solid;
    border-color: brown;
    text-align: center;
    border-radius: 10px; /* boder radius 50% means circle 
    
} 
/* you can do ths same thing for other tag */
*{
    margin: 0px;
    border: 0px;
    color: white;
}
div{
    background-color: black;
    height: 60px;
    border-width: 20px;
    border-style: solid;
    border-color:green ;

}
#p{
    color: orange;
}

a{
margin-right: 200px;


}
button{
    color: pink;
    background-color: yellow;

}
#q{
background-color: blueviolet;
}