/* div{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    background-color: aquamarine;
    display: inline-block;


}

#box1{
    position: static;
}
#box2{
    position: relative;
    top: 50px;
}
#box3{
    position: fixed;
    top: 0px;
}
body{
    background-image: url("image.png");
    background-size: cover;
} */

body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    display: inline-block;
margin-right: 20px;

}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-end;
}